<h1>
    Codeial / <%= title %>

    <a href="/users/sign_up">
        <button action="/users/sign_up"> Sign Up</button>
    </a>
    <a href="users/sign_in">
        <button> Sign In</button>
    </a>

</h1>