<h1>
    Codeial / <%= title %>

    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create_post" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>

        <div id = "post-list-container">
            <ul>
                <% for(post of posts){ %>

                    <li> <%= post.content %> </li>
                    <li> Hellooo </li>
                <% } %>
           </ul>
        </div>
    </section>

</h1>