<html>
<title> SignUp! </title>

<body>
    <form action="/users/log_in" method="POST">
        <input type="email" name="email" placeholder="Enter Email">
        <input type="text" name="password" placeholder="Enter Password">
        <button type="submit"></button>
    </form>
</body>

</html>