<html>
    <title> SignUp! </title>
    <body>
        <form id = "user_Sign_up" action="/users/create_account" method="POST" >
            <input type="text" name="name" id="" placeholder="Enter Name">
            <input type="email" name = "email" placeholder = "Enter Email">
            <input type="text" name="password" placeholder="Enter Password">
            <input type="text" name="confirmPassword" placeholder="Enter Confirm Password">
            <button type="submit"></button>
        </form> 
    </body>
</html>